/* .modal {
    position: relative;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
  }
  
  .submit-button {
    margin-top: 10px;
  }
  
  button {
    padding: 10px 20px;
  }
   */